* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

#canvas {
  border: 1px solid black;
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
