@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  /* prevent scroll chaining */
  overscroll-behavior: none;
  font-family: "Press Start 2P", sans-serif;
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #020529;
}

.game-header {
  color: #fff;
  margin-bottom: 4rem;
  font-size: 1.25rem;
}

.game-board {
  background: #1a216a;
  padding: 1rem 1rem 0.8rem;
  border-radius: 0.5rem;
}

#canvas {
  background: #131853;
}
